/* Base for all browsers */

*
{
    padding: 0;
    margin: 0;
}

html, body {
	height: 100%;
}

/*-------------------------------*/

/* Page's header */
header {
	
}

/* Page's footer */
footer {
	
}

/* Page's main content */
#main {
	
}

/*-------------------------------*/
